.card {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    border: white 1px solid;
    width: 250px;
    height: 400px;
    transition: transform 0.3s;
    backdrop-filter: blur(7px);
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.picture {
    width: 150px;
    height: 150px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.cardTitle {
    font-size: 20px;
    font-weight: bold;
}

.cardDescription {
    font-size: 14px;
    color: #888;
}