#root{
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background.jpg");
}

.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}